[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
quart-schema = "*"
aiofiles = "*"
hypercorn = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
tox = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"
